@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.wrapper {
  background-color: #000000;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Roboto";
  color: #ffff;
  margin: 0;
}
section {
  background-color: #515554;
  border: 1px solid #00a97f;
  border-radius: 6px;
  padding: 25px 25px 0 25px;
}
div {
  margin: 25px 0;
}
h1,
a {
  font-weight: 400;
  font-size: 28px;
}
label,
input {
  font-weight: 300;
  font-size: 18px;
}
input,
select {
  border: 1px solid #00a97f;
  border-radius: 6px;
  overflow: visible;
}
input:focus,
select:focus {
  outline: none;
}
select {
  width: 100%;
}
option {
  font-weight: 300;
  font-size: 16px;
  padding: 5px 5px 2px 5px;
  border-radius: 6px;
}
a {
  margin: 10px;
  color: #ffff;
}
a:hover {
  transform: scale(1.1);
  color: #00a97f;
}
#txtn {
  padding: 2px 0 2px 5px;
}
#btn {
  padding: 5px 15px;
  cursor: pointer;
  background: #515554;
  color: #ffff;
}
#btn:hover {
  transform: scale(1.1);
}
.d-flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connections {
  --connections-particleColor: rgb(0, 169, 127);
  --connections-lineColor: rgb(0, 169, 127);
  --connections-particleAmount: 250;
  --connections-defaultRadius: 3;
  --connections-variantRadius: 2;
  --connections-linkRadius: 150;
  background-image: paint(connections);
}
@media screen and (max-width: 1350px) {
  .connections {
    --connections-linkRadius: 100;
  }
}
@media screen and (max-width: 815px) {
  .connections {
    --connections-linkRadius: 60;
  }
}
